@font-face {
  font-family: "Happiness-Sans-Title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-family: "Happiness-Sans-Title";
  padding: 0;
}

.nav1 > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.nav2 > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0px 50px;
  box-sizing: border-box;

  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.397);
  z-index: 1;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

main .one {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("./17386991955ce4d674d69fc.jpg");
}

header a{
  position: relative;
  color: rgb(255, 255, 255);
  transition: 0.35s;
  font-size: 17px;
}
header a::before{
  content: '';
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: transparent;
  border-radius: 50%;
  top: -25%;
  right: 0%;
  transition: 0.35s;
}
header a:hover::before{
  background-color: navy;
  transform: scale(4);
}
header > h1{
  font-size: 33px;
  position: relative;
}
header > h1::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 20px;
  border-radius: 10px;
  background-color: navy;
  box-shadow: -5px 10px 0px 0px gold;
  top: -5%;
  transform: rotate(-45deg);
  right: -13%;
}
nav {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
}
.nav2 {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg {
  width: 100%;
  height: 600px;
  align-items: center;
}

.festival {
  margin-top: 100px;
}

.fesInt {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 34%;
  transform: translate(-50%, -10%);

  text-align: center;
  padding: 5px;
  text-shadow: 3px 2px 2px rgb(0, 0, 0);
}

.intro {
  color: rgb(255, 255, 255);
  font-size: 30px;
  border-left: 3px solid white;
  border-right: 3px solid white;

  padding: 10px;
  z-index: -1;
}

.welcome {
  text-align: center;
  margin-top: 30px;
}

.welcome > h1 {
  font-size: 60px;
  padding: 20px;
  color: rgb(0, 129, 0);
  text-shadow: 1px 1px 5px rgb(86, 202, 90);
}

.fesImg > img {
  width: 600px;
  height: 300px;
  border-radius: 10px 0px 0px 10px;
}

.fesImg {
  display: flex;
  margin-bottom: 50px;
  margin-left: 200px;
}

.fesText {
  width: 500px;
  height: 300px;
  background-color: rgba(149, 149, 149, 0.164);
  border-radius: 0px 30px 30px 0px;
}

.fesText > h2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.fesText > p {
  margin-left: 40px;
  padding: 5px;
}

.fesText > p > a {
  color: blue;
}
