@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    font-family: 'Happiness-Sans-Title';
    padding: 0;
}
#bar{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 3px;
    background-color: white;
    z-index: 101;
}
p{
    font-family: 'KyoboHandwriting2021sjy';
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0px 50px;
    box-sizing: border-box;
    z-index: 100;
    position: fixed;
    top: 0%;
    left: 0%;
    color: white;
    transition: 0.35s;
    backdrop-filter: blur(5px);

}


header a{
    position: relative;
    color: white;
    transition: 0.35s;
    font-size: 17px;
}
header a::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: transparent;
    border-radius: 50%;
    top: -25%;
    right: 0%;
    transition: 0.35s;
}
header a:hover::before{
    background-color: navy;
    transform: scale(4);
}
header > h1{
    font-size: 38px;
    position: relative;
}
header > h1::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 30px;
    border-radius: 10px;
    background-color: navy;
    box-shadow: -5px 10px 0px 0px gold;
    top: -5%;
    transform: rotate(-45deg);
    right: -13%;
}
nav{
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}
.nav2{
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   


main .one{
    box-sizing: border-box;
    text-align: center;
    padding-top: 250px;
    width: 100%;
    height: 100vh;
    color: white;
    background-size: cover;
    background-image: url('./img/17386991955ce4d674d69fc.jpg');
}
main .one h1{
    margin: 0 auto;
    width: 560px;
    padding: 10px 10px;
    margin-bottom: 10px;
    transition: 0.35s;
    cursor: pointer;
    position: relative;
    font-size: 40px;
}

main .one h1::before{
    content: '';
    position: absolute;
    top: 0%;
    right: -100px;
    width: 7px;
    height: 150px;
    background-color: white;
    left: 0%;
    transition: 0.35s;
}
main .one h1::after{
    content: '';
    position: absolute;
    top: 0%;
    right: -20px;
    width: 7px;
    height: 150px;
    background-color: white;
    transition: 0.35s;
}
main .one h1:hover::before{
    transform: rotate(30deg);
}
main .one h1:hover::after{
    transform: rotate(-30deg);
}

main .twos{
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: #eee;
    padding: 100px 60px;
    color: navy;
    font-weight: bold;
}
main .twos h1{
    margin-left: 10px;
    font-size: 80px;
    margin-bottom: 30px;
}
main .twos .content{
    margin-top: 60px;
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; 
}

#soga_p{
    margin-left: 25px;
}

main .twos .contents{
    margin-top: 20px;
}
@keyframes ani{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
}
main .twos .abs{
    position: absolute;
    width: 100px;
    height: 100px;
    animation: ani 3s infinite alternate;
}
main .twos .abs:nth-of-type(1){
    top: -50%;
    left: 30%;
    animation-delay: 0.5s;
}
main .twos .abs:nth-of-type(2){
    top: -70%;
    left: 43%;
    animation-delay: 1s;
}
main .twos .abs:nth-of-type(3){
    top: -50%;
    left: 56%;
    animation-delay: 1.5s;
}
main .twos .abs:nth-of-type(4){
    top: -70%;
    left: 70%;
    animation-delay: 2s;
}
main .twos .abs:nth-of-type(5){
    top: -50%;
    left: 85%;
    animation-delay: 2.3s;
}

main .twos .content .content_wrap{
    width: 300px;
    height: 250px;
    box-shadow: 0px 0px 10px 0px gray;
    overflow: hidden;
    text-align: center;
    position: relative;
    border-radius: 5px;
    margin-top: 30px;
    transition: 0.35s;
    cursor: pointer;
}   
main .twos .content_wrap:hover{
    transform: translate(0,-20px);
}

main .twos .content div > h3{
    color: white;
    font-size: 25px;
    padding: 10px 0px;
    background-color: rgb(0, 0, 128,0.7);

}
main .twos img{
    width: 300px;
    height: 250px;
}
main .twos #one{
    margin-top: 40px;
    width: 500px;
    height: 500px;
}


/* 이제는 축제홍보 css 입니다  */

.there{
    padding: 40px;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    position: relative;
}
.gle span{
    position: absolute;
    width: inherit;
    height: inherit;
    border: 2px solid skyblue;
    border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
    transition: 0.5s;
  }
  @keyframes circle {
    0%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  .gle span:nth-child(1){
    animation: circle 6s linear infinite ;
  }
  .gle span:nth-child(2){
    animation: circle 4s linear infinite ;
    animation-direction: reverse;
  }
  .gle span:nth-child(3){
    animation: circle 10s linear infinite ;
  }
  .gle:hover span:nth-child(1){
    opacity: 0.3;
  }
  .gle:hover span:nth-child(2){
    opacity: 0.6;
  }
  .gle:hover span:nth-child(3){
    opacity: 0.8;
  }
  .gle:hover span{
    border: 0;
    background-color: #DE8972;
  }
.there .gle{
    position: relative;
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 100px;
}
.there .gle h1{
    color: steelblue;
    margin-bottom: 20px;
    font-size: 65px;
    transition: 0.5s;
}
.there .gle p{
    color: navy;
    font-size: 20px;
    transition: 0.5s;
}
.there #text{
    text-align: center;
    width: 100%;
    color: dodgerblue;
    position:absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.there .gle:hover #text h1, .there .gle:hover #text p{
    color: white;
}
.swiper-container {
    width:640px;
    height: 500px;   
    border-radius:7px;
    

}
.swiper-slide {
    text-align:center;
    display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items:center; /* 위아래 기준 중앙정렬 */
    justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
    box-shadow:0 0 5px #555;
}

.swiper-wrapper img{
    border: 1px solid white;
    width: 300px;
    border-radius: 5px;
}
.swiper-button-next, .swiper-button-prev{
    transform: scale(1.5);
}