@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    font-family: 'Happiness-Sans-Title';
    padding: 0;
}
#bar{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 3px;
    background-color: white;
}
p{
    font-family: 'KyoboHandwriting2021sjy';
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0px 50px;
    box-sizing: border-box;

    position: fixed;
    top: 0%;
    left: 0%;
}


header a{
    position: relative;
    color: white;
}
header a::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: transparent;
    border-radius: 50%;
    top: -25%;
    right: 0%;
    transition: 0.35s;
}
header a:hover::before{
    background-color: navy;
    transform: scale(4);
}
header > h1{
    color: white;
    font-size: 50px;
    position: relative;
}
header > h1::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 30px;
    border-radius: 10px;
    background-color: navy;
    box-shadow: -5px 10px 0px 0px gold;
    top: -5%;
    transform: rotate(-45deg);
    right: -13%;
}
nav{
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
}
.nav2{
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   


main .one{
    box-sizing: border-box;
    text-align: center;
    padding-top: 250px;
    width: 100%;
    height: 100vh;
    color: white;
    background-size: cover;
    background-image: url('./img/17386991955ce4d674d69fc.jpg');
}
main .one h1{
    margin: 0 auto;
    width: 560px;
    padding: 10px 10px;
    margin-bottom: 10px;
    transition: 0.35s;
    cursor: pointer;
    position: relative;
    font-size: 40px;
}

main .one h1::before{
    content: '';
    position: absolute;
    top: 0%;
    right: -100px;
    width: 7px;
    height: 150px;
    background-color: white;
    left: 0%;
    transition: 0.35s;
}
main .one h1::after{
    content: '';
    position: absolute;
    top: 0%;
    right: -20px;
    width: 7px;
    height: 150px;
    background-color: white;
    transition: 0.35s;
}
main .one h1:hover::before{
    transform: rotate(30deg);
}
main .one h1:hover::after{
    transform: rotate(-30deg);
}

main .twos{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: beige;
    padding: 80px;

}
main .twos .inner{

    display: flex;
    justify-content: space-around;

}
main .twos h1{
    font-size: 70px;
    margin-bottom: 30px;
}
main .twos .content{
    margin-top: -100px;
    width: 750px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  
}
main .twos .content div{
    background-color: white;
    margin-top: 30px;
    width: 300px;
    height: 260px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 0px 5px 0px gray;
}   
main .twos .content div > h3{
    font-size: 60px;
    background: linear-gradient(to right top, #861657, #ffa69e);
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 20px;
    font-size: 40px;
    font-family: 'KyoboHandwriting2021sjy';
}
main .twos img{
  
    width: 300px;
    height: 150px;
}
main .twos #one{
    width: 500px;
    height: 500px;
  
}
